{{!< common}}

<div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
	<div class="demo-crumbs mdl-color-text--grey-500">
		Google &gt; Material Design Lite &gt; How to install MDL
	</div>
	<h3>Index</h3>
		{{#foreach posts}}
			<p><a href="{{url}}">{{title}}</a></p>
		{{/foreach}}
</div>
